{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}


<div class="content-wrapper">

  <div class="dark-wrapper">
    <div class="container inner">
      <div class="blog row">
        <div class="col-sm-8 blog-content grid-view">
          <div class="blog-content">
            <div class="row blog-posts">
              {% for each in blogs %}

              <div class="post col-sm-12 col-md-6">
                <figure class="overlay">
                  <a href="#">
                    <img src="{{each.image.url}}" alt="blog image" />
                  </a>
                </figure>
                <div class="post-content">
                  <h3 class="post-title"><a href="blog-post.html">{{each.title}}</a></h3>
                  <div class="meta">
                    <span class="date">{{each.date_added}}</span>
                  </div>
                  <p>{{each.intro_text}}</p>
                  <a href="blog-post.html" class="more">Read More</a> </div>

                </div>
                <hr />
                {%endfor%}

              </div>

            </div>

            <div class="pagination">
              <ul>
                {% if blogs.has_previous %}
                  <li><a class="btn btn-square btn-icon" href="{% url "blog:blogs" blogs.previous_page_number %}"><i class="ion-android-arrow-back"></i></a></li>

                {% else %}
                <li></li>

                {% endif %}


                <li class="active"><a class="btn btn-square" href="#"><span>  Page {{ blogs.number }} of {{ blogs.paginator.num_pages }} </span></a></li>

                <!-- <li><a class="btn btn-square" href="#"><span>2</span></a></li>
                <li><a class="btn btn-square" href="#"><span>3</span></a></li> -->

                {% if blogs.has_next %}
                  <li><a class="btn btn-square btn-icon" href="{% url "blog:blogs" blogs.next_page_number %}"><i class="ion-android-arrow-forward"></i></a></li>

                {% else %}
                <li></li>

                {% endif %}


              </ul>
            </div>
            <!-- /.pagination -->





          </div>
          <!-- /.blog-content -->

          <aside class="col-sm-4 sidebar">
            <div class="sidebox widget">
              <h3 class="widget-title">About Us</h3>
              <figure> <img src="style/images/art/about2.jpg" class="img-auto" alt="" /> </figure>
              <div class="divide10"></div>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.</p>
              <ul class="social">
                <li> <a href="#"><i class="ion-social-rss"></i></a> </li>
                <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
                <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
                <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
                <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
                <li> <a href="#"><i class="ion-social-whatsapp"></i></a> </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <!-- /.widget -->

            <div class="sidebox widget">
              <h3 class="widget-title">Popular Posts</h3>
              <ul class="post-list">
                <li>
                  <figure class="overlay small"> <a href="blog-post.html"><img src="style/images/art/a1.jpg" alt="" /> </a> </figure>
                  <div class="post-content">
                    <h4 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h4>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><a href="#">Urban</a></span></div>
                  </div>
                </li>
                <li>
                  <figure class="overlay small"> <a href="blog-post.html"><img src="style/images/art/a2.jpg" alt="" /> </a> </figure>
                  <div class="post-content">
                    <h4 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h4>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><a href="#">Still Life</a></span></div>
                  </div>
                </li>
                <li>
                  <figure class="overlay small"> <a href="blog-post.html"><img src="style/images/art/a3.jpg" alt="" /> </a> </figure>
                  <div class="post-content">
                    <h4 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h4>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><a href="#">Conceptual</a></span></div>
                  </div>
                </li>
              </ul>
              <!-- /.post-list -->
            </div>
            <!-- /.widget -->

            <div class="sidebox widget">
              <h3 class="widget-title">Categories</h3>
              <ul class="list circled">
                <li><a href="#">Lifestyle (21)</a></li>
                <li><a href="#">Photography (19)</a></li>
                <li><a href="#">Journal (16)</a></li>
                <li><a href="#">Works (7)</a></li>
                <li><a href="#">Conceptual (12)</a></li>
                <li><a href="#">Videography</a></li>
              </ul>
            </div>
            <!-- /.widget -->

            <div class="sidebox widget">
              <h3 class="widget-title">Tags</h3>
              <ul class="tag-list">
                <li><a href="#" class="btn btn-white">Still Life</a></li>
                <li><a href="#" class="btn btn-white">Urban</a></li>
                <li><a href="#" class="btn btn-white">Journal</a></li>
                <li><a href="#" class="btn btn-white">Nature</a></li>
                <li><a href="#" class="btn btn-white">Landscape</a></li>
                <li><a href="#" class="btn btn-white">Macro</a></li>
                <li><a href="#" class="btn btn-white">Workshop</a></li>
                <li><a href="#" class="btn btn-white">Photography</a></li>
              </ul>
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
              <h3 class="widget-title">Instagram</h3>
              <div class="tiles instagram">
                <div id="instafeed-widget" class="items row row-offset-0"></div>
              </div>
              <!--/.tiles -->
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
              <h4 class="widget-title">Search</h4>
              <form class="searchform" method="get">
                <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
              </form>
            </div>
            <!-- /.widget -->
          </aside>
          <!-- /column .sidebar -->

        </div>
        <!-- /.blog -->
      </div>
      <!-- /.container -->
    </div>


  </div>

  {% endblock content %}
