{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static "style/images/favicon.png" %}">
<title>{% block title %}{% endblock title %} | The Royal Journal</title>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/plugins.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/color/blue.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "type/icons.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CKarla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="content-wrapper">

  {% include "header.html" %}

  {% block content %}
  {% endblock content %}

  {% include "footer.html" %}

</div>
</body>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
</html>
