{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Contact
{% endblock title %}

{% block content %}

  <div class="google-map h450" data-lat="51.211215" data-lng="3.226287"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-sm-4 text-center"> <span class="icon icon-m bm20"><i class="budicon-pin"></i></span>
              <p>Delhi Nerds<br>
                C2, Sector 1, Noida, UP - 201301</p>
            </div>
            <!--/column -->
            <div class="col-sm-4 text-center"> <span class="icon icon-m bm20"><i class="budicon-telephone"></i></span>
              <p>011-65000357<br>
            </div>
            <!--/column -->
            <div class="col-sm-4 text-center"> <span class="icon icon-m bm20"><i class="budicon-profile"></i></span>
              <p><a class="nocolor" href="mailto:contact@theroyaljournal.in">contact@theroyaljournal.in</a><br>
                <a class="nocolor" href="mailto:hello@delhinerds.com">hello@delhinerds.com</a></p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->

          <div class="divide70"></div>
          <h3 class="text-center">Get in Touch</h3>
          <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
          <div class="divide10"></div>
          <div class="form-container">
            <form action="" method="post" class="vanilla vanilla-form" novalidate="novalidate">
              <div class="row">
                <div class="col-sm-6 rp10">
                  <div class="form-field">
                    <label>
                      <input type="text" name="name" placeholder="Your name" required="required">
                    </label>
                  </div>
                  <!--/.form-field -->
                </div>
                <!--/column -->
                <div class="col-sm-6 lp10">
                  <div class="form-field">
                    <label>
                      <input type="email" name="email" placeholder="Your e-mail" required="required">
                    </label>
                  </div>
                  <!--/.form-field -->
                </div>
                <!--/column -->
                <div class="col-sm-6 rp10">
                  <div class="form-field">
                    <label>
                      <input type="tel" name="tel" placeholder="Phone">
                    </label>
                  </div>
                  <!--/.form-field -->
                </div>
                <!--/column -->
                <div class="col-sm-6 lp10">
                  <div class="form-field">
                    <label class="custom-select">
                      <select name="department" required="required">
                        <option value="">Select Department</option>
                        <option value="Sales">Sales</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Support">Customer Support</option>
                        <option value="Other">Other</option>
                      </select>
                      <span><!-- fake select handler --></span> </label>
                  </div>
                  <!--/.form-field -->
                </div>
                <!--/column -->

                <div class="col-sm-12">
                  <textarea name="message" placeholder="Type your message here..." required="required"></textarea>
                  <div class="radio-set">
                    <label>Subject:</label>
                    <label>
                      <input type="radio" name="subject" value="General">
                      <span><!-- fake radio --></span> General</label>
                    <label>
                      <input type="radio" name="subject" value="Hi">
                      <span><!-- fake radio --></span> Say Hi</label>
                    <label>
                      <input type="radio" name="subject" value="Other">
                      <span><!-- fake radio --></span> Other</label>
                  </div>
                  <!--/.radio-set -->
                  <input type="submit" class="btn" value="Send" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">
                  <footer class="notification-box"></footer>
                </div>
                <!--/column -->

              </div>
              <!--/.row -->

            </form>
            <!--/.vanilla-form -->
          </div>
          <!--/.form-container -->

        </div>
        <!--/column -->

      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->

</div>

{% endblock content %}
