<footer class="inverse-wrapper">
  <div class="sub-footer">
    <div class="container-fluid inner">
      <p class="pull-left">© 2017 The Royal Journal. All rights reserved. Designed by <a href="http://www.delhinerds.com" target="_blank">Delhi Nerds</a></p>
      <ul class="social pull-right">
        <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
        <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
        <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
        <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
        <li> <a href="#"><i class="ion-social-whatsapp"></i></a> </li>
      </ul>
    </div>
  </div>
</footer>
