{% load staticfiles %}

<div class="navbar navbar-default default classic full" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="{% url "blog:index" 1 %}"><img src="{% static "logo.png" %}" alt="The Royal Journal Logo" style="height:100px;" /></a></div>
      <div class="nav-bars-wrapper">
        <div class="nav-bars-inner">
          <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
        </div>
        <!-- /.nav-bars-inner -->
      </div>
      <!-- /.nav-bars-wrapper -->
    </div>
    <!-- /.nav-header -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!">Photos<span class="caret"></span></a>
        </li>
        <li><a href="{% url "blog:blogs" 1 %}">Blog<span class="caret"></span></a>
        </li>
        <li><a href="{% url "blog:philosophy" %}">Philosophy<span class="caret"></span></a>
        </li>
        <li><a href="{% url "blog:contact" %}">Contact<span class="caret"></span></a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->

  </div>
  <!--/.container-fluid -->
</div>
<!--/.navbar -->
