{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="light-wrapper">
  <div class="container-fluid inner2 tp0">
    <div class="collage-wrapper">
      <div id="collage-large" class="collage effect-parent light-gallery">
        {% for each in photos %}
        <div class="collage-image-wrapper">
          <div class="overlay">
            <a href="{{each.image.url}}" class="lgitem" data-sub-html="#{{each.caption}}">
              <img src="{{each.image.url}}" style="width:675px; height:450px;" alt="" />
            </a>
            <div id={{each.caption}} class="hidden">
              <h3>{{each.title}}</h3>
              <p>{{each.caption}}</p>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
    <div class="col-md-5"></div>

    <div class="col-md-4">
      <nav aria-label="Page navigation" class="navigation">
        <ul class="pagination" >
          {% if photos.has_previous %}
          <li>
            <a href="{% url "blog:index" photos.previous_page_number %}" aria-label="Previous">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span aria-hidden="true">Prev</span>
            </a>
          </li>
          {% else %}
          <li></li>

          {% endif %}

          <!-- <li><a href="#">1</a></li> -->
          <li class="active">
            <a href="#">
              <span aria-hidden="true">
                  Page {{ photos.number }} of {{ photos.paginator.num_pages }}
              </span>

            </a>
          </li>

          <!-- <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li> -->
          {% if photos.has_next %}
          <li>
            <a href="{% url "blog:index" photos.next_page_number %}" aria-label="Next">
              <span aria-hidden="true">Next</span>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          {% else %}
          <li></li>

          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="col-md-5"></div>

  </div>

  <!-- /.container-fluid -->
</div>

<!-- /.light-wrapper -->


{% endblock content %}
