{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Philosophy
{% endblock title %}

{% block content %}

  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-5 rp20 bm20">
          <figure><img src="{% static "images/art/about.jpg" %}" alt="" /></figure>
        </div>
        <!-- /column -->
        <div class="col-md-7">
          <h3>Who is Behind?</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit, fusce dapibus, tellus ac cursus commodo. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula.</p>
          <blockquote>
            <p> Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque. Cras mattis consectetur purus sit amet fermentum.</p>
          </blockquote>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <h3>Elsewhere</h3>
          <ul class="social">
            <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
            <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
            <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
            <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
            <li> <a href="#"><i class="ion-social-linkedin"></i></a> </li>
          </ul>
        </div>
        <!-- /column -->

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.dark-wrapper -->

{% endblock content %}
